:host(.wel-in-header) i {
    font-size: 16px;
    line-height: 36px;
}

:host(.wel-in-footer) i {
    font-size: 14px;
    line-height: 24px;
}

i {
    padding: 0 10px;
    color: #f3f3f3;
}

    i:hover {
        background-color: rgba(243, 243, 243, 0.2);
    }
