:host {
    line-height: 12px;
    font-size: 12px;
}

span {
    padding: 1px 2px;
}

.tst {
    color: #d7ba7d;
}

.nsp {
    color: #4EC9B0;
}

.level {
    display: inline-block;
    border-radius: 2px;
    width: 40px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
}

.NONE, .FINE, .DEBUG {
    background-color: #333333;
}

.INFO {
    color: #232323;
    background-color: #d3d3d3d3;
}

.WARN {
    color: #232323;
    background-color: #d7ba7d;
}

.ERROR {
    background-color: #cc3300;
}
